/problema1/JavaApplication114/nbproject/private/
/problema1/CalculoTerreno/nbproject/private/
/problema1/CalculoTerreno/build/
/problema2/EquivalenteHora/nbproject/private/
/problema3/JavaApplication117/nbproject/private/
/problema2/EquivalenteHora/build/
/problema3/InstitucionesEducativas/nbproject/private/
/problema3/InstitucionesEducativas/build/
/problema4/EquipoCelular/nbproject/private/
/problema4/EquipoCelular/build/
